<<<<<<< HEAD
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.top-menu-item{
  @apply cursor-pointer py-2 hover:text-gray-950 relative after:absolute after:bottom-0 after:left-0 after:bg-slate-950 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-500 flex-1 w-36  justify-between;
} 
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 6ac1ecf (call api)
